.container_errand {
  width: 100%;
  background-color: #fff; // #f2f2f2;
  // padding: 40px;
  color: #808080; // #595959; // #808080;
  overflow-y: auto;
  font-size: 22px;

  .listErrand {
    margin: 40px;
    margin-bottom: 100px;
    padding: 25px;
    width: 400px;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    // width: 500px;
    // max-height: 400px;
    // overflow-y: auto;
    .title {
      font-family: "Architects Daughter", cursive;
      font-size: 25px;
      color: #7dcfa4;
      margin-bottom: 10px;
    }
    .errand {
      .faChecked {
        cursor: pointer;
        display: inline-block;
        margin-right: 10px;
      }
      .value {
        cursor: pointer;
      }
      .value.checked {
        text-decoration: line-through;
      }
    }
    .errand.classic {
      // margin-bottom: 7px;
      // font-size: 20px;
      font-family: "Architects Daughter", cursive;
      margin-bottom: 0;
    }
    .errand.custom {
      font-family: "Architects Daughter", cursive;
      margin-bottom: 0;
      .value {
        margin-right: 20px;
      }
      .delete {
        cursor: pointer;
        font-size: 13px;
      }
      .delete:hover {
        color: #ff9999;
      }
    }
  }
  .classicList {
    border-top: 1px solid #e6e6e6;
    padding-top: 10px;
  }
  .customList {
    border-top: 1px solid #e6e6e6;
    padding-top: 6px;
  }

  .addCustom {
    position: fixed;
    padding: 20px 65px;
    width: calc(100% - 80px);
    border-top: 1px solid #e6e6e6;
    background: #fff;
    bottom: 0;

    .input {
      font-family: "Architects Daughter", cursive;
      vertical-align: top;
      margin-right: 10px;
      font-size: 22px;
      border-radius: 8px;
    }

    .input:focus {
      outline: 0;
    }
    .add {
      font-size: 30px;
    }
  }
}
