.containerRecipe {
  .addRecipe {
    margin: auto;
    width: 650px;
    margin-bottom: 30px;
    font-size: 20px;
    .addTxt {
      margin-right: 15px;
    }
    .addBtn:hover {
      cursor: pointer;
      color: #969fe9;
    }
  }
  padding: 30px 0;
}
