.formCreate {
  height: 300px;
  border-top: 1px solid #a6a6a6;
  margin-top: 20px;
  padding-top: 20px;

  .header {
    padding-bottom: 10px;
    margin-bottom: 20px;
    // border-bottom: 1px solid #737373;
    .name {
      display: inline-block;
      margin-right: 30px;
      .inputName {
        width: 250px;
      }
    }
    .nbPers {
      display: inline-block;
      // float: right;
      .inputNbPers {
        margin-left: 10px;
        width: 40px;
      }
    }

    .btnSubmit {
      float: right;
    }
  }
  .content {
    // cf CreationSubForm.scss
  }
}
