.containerPlanning {
  width: 100%;
  // min-height: calc(100vh - 76px);
  background: #fff; //#282c34;
  padding-top: 40px;
  color: #808080;
  .title {
    width: 950px;
    margin: auto;
    margin-bottom: 20px;
    padding-left: 80px;
    color: #282c34;
    .nbPerson {
      display: inline-block;
      width: 80px;
      text-align: center;
      margin: 0 6px;
      user-select: none;

      color: #6c7ae0;
      font-size: 30px;
    }
    .nbPersonMinus,
    .nbPersonPlus {
      cursor: pointer;
      margin-right: 6px;
      font-size: 20px;
      color: #d7ccff; // #e6e6e6;
    }
  }

  .wrapPlanning {
    width: 950px;
    margin: auto;

    .table_whole {
      background-color: #fff;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
      user-select: none;

      table {
        width: 100%;
        border-collapse: collapse;
      }

      th,
      td {
        text-align: center;
        font-weight: unset;
        padding: 25px 3px;

        width: 12.5%;
        // border: 1px solid #d7ccff;
      }

      td:hover {
        cursor: pointer;
        background-color: #ebe6ff;
      }
      th {
        font-size: 18px;
        color: #fff;
        background-color: #6c7ae0;
      }
      td {
        font-size: 15px;
        color: #808080;
        border-radius: 5px;
      }

      // .table_body tr:nth-child(even) {
      //   background-color: #f8f6ff;
      // }
    }
  }
}
