body {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", "Montserrat", "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.appRouter {
  background-color: #282c34;
  color: white;
  // min-height: 100vh;
  .nav {
    position: fixed;
    top: 0;
    height: 76px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
    user-select: none;
    li {
      display: inline-block;
      padding: 25px;
      a {
        text-decoration: none;
        color: white;
      }
    }
    li.liEasyMeal {
      color: #595959;
      padding: 27px 30px;
    }
  }
  .nav.home {
    background-color: #ff8080;
  }
  .nav.recipe {
    background-color: #ffbf80;
  }
  .nav.planning {
    background-color: #969fe9;
  }
  .nav.errand {
    background-color: #6ac897;
  }
  .route {
    margin-top: 76px;
  }
}
